dashing-button.sublime-workspace
node_modules
credentials.js
# exclude photos but not the gitkeep file
/public/profiles/*
!/public/profiles/.gitkeep
fonts/*
initial_purchases
*.log
/public/amazon/*
!/public/amazon/.gitkeep
