<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashing Button</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link rel='stylesheet' href='/bootstrap-4.3.1-dist/css/bootstrap.min.css' >
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>

<body>

<!-- <div class="slides">

	<div class="slide slide-1">
		<img src="/images/slide-1-outline.svg" />
	</div>
	<div class="slide slide-2">
		<img src="/images/slide-2-outline.svg" />
	</div>

</div> -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="introModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content pb-2">
      <div class="modal-body">
      	<img src="/images/slide-1.png" alt="" class="slide slide-1">
      	<img src="/images/slide-2.png" alt="" class="slide slide-2">
      	<img src="/images/slide-3.png" alt="" class="slide slide-3">
      	<img src="/images/slide-4.png" alt="" class="slide slide-4">
      	<img src="/images/slide-5.png" alt="" class="slide slide-5">
      	<img src="/images/slide-6.png" alt="" class="slide slide-6">
      	<img src="/images/slide-7.png" alt="" class="slide slide-7">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="searchInstagramModal" tabindex="-1" role="dialog" aria-labelledby="searchInstagramModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content pb-2 pt-2">
      <div class="modal-body text-center">
      		<div class="medium-avatar">
      			<div class="spinner-border"></div>
      			<img class="avatar rounded-circle" src=""/>
      		</div>
      		<span class="message-text">
				<h2>Getting <strong>@</strong><strong class="influencer-name"></strong><span class="influencer-name-possesive"></span><br />latest Instagram photo</h2>
      		</span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="amazonLoadingModal" tabindex="-1" role="dialog" aria-labelledby="amazonLoadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content pb-2">
      <div class="modal-body text-center">
      		<span class="message-text"></span>
      		<br />
      		<br />
      		<div class="spinner-border" role="status">
  				<span class="sr-only">Searching for matching products on Amazon...</span>
			</div>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
      	<h4>Error</h4>
      	<p>Oops, something went wrong...<br />Restarting in 5 seconds...</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="latestImageModal" tabindex="-1" role="dialog" aria-labelledby="latestImageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xxl" role="document">
		<div class="modal-content">
			<div class="modal-body">
<!-- 				<div class="row avatar-row border-bottom-gray pb-2">
					<img class="avatar modal-avatar rounded-circle" src="" alt="">
					<h4 class='influencer-name pt-2' ></h4><img class="verified" src="/images/verified.png" />
				</div> -->
				<div class="row border-bottom-gray pb-2">
					<div class="col-md-5">
						<img class="avatar modal-avatar rounded-circle" src="" alt="">
						<h4 class='influencer-name pt-2' ></h4><img class="verified" src="/images/verified.png" />
					</div>
					<div class="col-md-7 text-right">
						<h4 class="tags-top"></span></h4>
					</div>
				</div>

				<div class="row">
					<div class="col-md-5">
						<img class="latest-img" style="" src="" />
					</div>
					<div class="col-md-7 text-left">
						<div class="title-analyzing">
							<h4>Now analyzing image to find related tags</h4>
							<div class="spinner-border"></div>
						</div>
						<ul class="tags"></ul>
						<div class="title-searching-amazon">
							<h4>Now finding a matching product on Amazon</h4>
							<div class="spinner-border"></div>
						</div>
						<img class="latest-amazon-image" src="" />
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="influencers">
{% for influencer in influencers %}
	<div class="influencer rounded-circle" data-name="{{influencer}}">
		<img class="influencer-img medium-img rounded-circle" data-name="{{influencer}}" src="/profiles/{{influencer}}/avatar.jpg" />
	</div>
{% endfor %}
</div>
	<script src="/js/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
	<script src="/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/script.js"></script>

</body>
</html>