$images-per-row: 12;
$images-width: 100%/$images-per-row;
$images-margin: 10px;

$color-white: #fff;
$color-text-red: #C90000;
$color-red: #f00;
$color-light-gray: #e7e7e7;
// $color-background: rgb(250, 250, 250);
$color-background: #fafafa;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  // font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $color-background;
  cursor: none;
}

.modal-dialog {
  background-color: $color-background;
}

.border-bottom-gray {
  border-bottom: 1px solid $color-light-gray;
  margin-bottom: 10px;
}

.medium-avatar {
  margin-bottom: 20px;

  .spinner-border, img {
    height: 100px;
    width: 100px;
  }

  .spinner-border {
    border-width: 6px;
    color: $color-red;
    position: absolute;
  }
}

#latestImageModal, #sideBySideModal {
  .influencer-name {
    display: inline-block;
    font-size: 30px;
    margin: 0 10px 0 10px;
  }
}

.title-analyzing, .title-searching-amazon {
  font-size: 26px;
  padding-top: 100px;
  text-align: center;

  .spinner-border {
    border-width: 2px;
    height: 100px;
    margin-top: 30px;
    width: 100px;
    color: $color-red;
  }
}

#introModal {
  .modal-dialog {
    margin-top: 220px;
    text-align: center;

    .slide {
      display: none;
      margin: auto;
    }
    .slide-1 {
      display: block;
    }

    .progressdot {
      display: none;
      margin: auto;
    }
    .progressdot-1 {
      display: block;
    }

  }
}

.tags-top{
  font-style: italic;
  display: none;
}

.influencers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: $images-margin;

  .influencer {
    flex-basis: $images-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin: $images-margin;
    box-sizing:  border-box;
    opacity: 1.0;
    transition: opacity 1.5s linear;

    img {
      width: 100%;
      height: 100%;
      box-sizing:  border-box;
    }

    &.selected {
      box-shadow: 0px 0px 0px 12px $color-red;
    }

    &.fade-out {
      opacity: 0.3;
      transition: opacity 1.5s linear;
    }
  }


}

.verified {
  width: 20px;
  height: 20px;
  margin-top: -5px;
}

.loading-popup {
  font-size: 30px;
  border-radius: 20px;
  position: fixed; /* could be absolute */
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  width: 1000px;
  height: 250px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);

  .content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.image-popup {
  font-size: 30px;
  border-radius: 20px;
  position: fixed; /* could be absolute */
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  width: 1000px;
  height: 250px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);

  .content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}
.latest-img {
    max-width: 100%;
    // max-height: 800px;
}

.modal-avatar {
  width: 60px;
  height: 60px;
}

.modal-influencer-name {
  float: left;
  margin-right: 15px;
  // font-size: 35px;
}

#loadingModal, #analyzingModal {
  margin-top: 350px;
}

.modal-xxl {
  max-width: 1800px !important;
}


// for keywords
ul.tags {
  margin-top: 20px;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

li.tag {
  // transform: translateX(-100%);
  // transition: transform 0.5s, opacity 2s;
  transition: opacity 1s;
  opacity: 1;
  font-size: 24px;
  margin-right: 20px;
  display: inline;
  font-style: italic;
}

li.hide-tag {
  opacity: 0;
  // transform: translateX(0%);
}

#searchInstagramModal {
  margin-top: 300px;
}