$images-per-row: 15;
$images-width: 100%/$images-per-row;
$images-margin: 10px;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  // font-family: 'Roboto', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

.influencers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: $images-margin;

  // .influencer-img {
  .influencer {
    flex-basis: $images-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin: $images-margin;
    // border: 10px solid red;
    // border-radius: 50%;
    box-sizing:  border-box;
    img {
      width: 100%;
      height: 100%;
    box-sizing:  border-box;
    }
  }
  .selected {
    box-shadow: 0px 0px 10px 10px red;
  }
}

.verified {
  width: 30px;
  height: 30px;
}

.loading-popup {
  font-size: 30px;
  border-radius: 20px;
  position: fixed; /* could be absolute */
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  width: 1000px;
  height: 250px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);

  .content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.image-popup {
  font-size: 30px;
  border-radius: 20px;
  position: fixed; /* could be absolute */
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  width: 1000px;
  height: 250px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 32px 0px rgba(0,0,0,0.75);

  .content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}
.latest-img {
    max-width: 100%;
    // max-height: 800px;
}

.modal-avatar {
  width: 60px;
  height: 60px;
}

.modal-influencer-name {
  float: left;
  margin-right: 15px;
  // font-size: 35px;
}

#loadingModal, #analyzingModal {
  margin-top: 350px;
}

.modal-xxl {
  max-width: 1800px !important;
}
